<h1>Tell us about yourself.</h1>
<div class="row">
  <div class="span6 div-centered">
     <%= render 'shared/error_messages' %> 
<%= form_for(@user) do |f| %>
	 <%= f.label :first_name, "First Name*" %>
     <%= f.text_field :first_name %>
     <%= f.label :last_name, "Last Name" %>
     <%= f.text_field :last_name %>
     <%= f.label :display_name, "Display Name*" %>
     <%= f.text_field :display_name%>
     <%= f.label :email, "Email Address*" %>
     <%= f.text_field :email %>
     <%= f.label :password, "Password*"%>
     <%= f.password_field :password %>
     <%= f.label :password_confirmation, "Password Confirmation*" %>
     <%= f.password_field :password_confirmation %><br/><i>* denotes a required field.</i><br/><br/>
     <i>As a matter of common decency, InboundTeamOf1 will never give away your email address (or any of your information) to any third parties, ever.</i><br/><br/>
     <center><%= f.submit "Join the team!", class: "btn btn-large btn-primary" %></center>
     </div>
</div>
		
<% end %>